body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #b1beb974;
}

#consol{
    font-style: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #05d5ce;
    border-radius: 9px;
   
    
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.active {
    background-color: cyan;
}
.hidden {
    display: none;
}

#toggleElement{
    margin: 20px;
     padding: 20px; 
     border: 1px 
     solid black
}
table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.result {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
p{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: #6cacaa;
    border-radius: 9px;
    text-align: center;
    

}